.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image{
  display: flex;
  justify-content: center;
  width: 400px;
  height: 250px;
  margin-bottom: 5%;
  margin-top: 5%;
}

.image img{
  justify-content: center;
  width: 100%;
  height: 100%;
}


@media only screen and (max-width: 600px) {
  .image img{
    justify-content: center;
    width: 80%;
    height: 100%;
  }
  

}